/* Global CSS for all pages */

* {
    /* Sizing helper: See Workbook 1b, page 2-33. */
    box-sizing: border-box;

    /* 
       Vizualization helper: While styling or debugging your HTML & CSS, 
       uncomment the rule below to see all the boxes on your page more
       clearly! (Remove this outline before submitting: users won't 
       want to see it!)
    */
    /* outline: 1px dotted red; */
}

:root {
    font-size: 1rem;
}







/*global stuff*/

  
  .main::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }
  
  .post {
    width: 60%;
    border-radius: 25px;
    
    margin: 0.5rem;
    background-color: white;
    padding: 0.5rem;
    display: flex;
    align-items: center;
  }
  
  .user-posts-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    align-items: center;
    margin: 0px;
    border-left: 1px solid white;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .user-posts-container::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }
  
  .likes-button {
  width: 1.8rem;
  height: 1.8rem;
  padding: 0px;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  margin: 0.4rem;
  }
  
  .likes-button:hover {
  opacity: 0.5;
  }
  
  .post-profile-icon {
  height: 4rem;
  margin-left: 1.5rem;
  cursor: pointer;
  }
  
  
  .info-div {
  width: 100%;
  margin: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  
  
  .likes-container {
    width: auto;
    height: auto;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    }
  
  .likes-inner-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
  
    .likes-inner-container-header {
      width: 100%;
      height: 75%;
      display: flex;
    }
    
    .likes-inner-container-footer {
      width: 100%;
      height: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
  .likes-amount {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  }
  
  .likes-select {
    width: 80%;
    margin: 0.5rem;
    border-radius: 5px;
    font-size: medium;
    }
  
  
  .nav-bar {
  width: 100%;
  height: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #85989a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }
  
  .nav-icon {
  display: flex;
  width: 3.5%;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  }
  
  .nav-icon:hover {
  opacity: 0.5;
  }
  
  .post-text {
    text-wrap: wrap;
  }
  
  .post-image {
    max-height: 25rem;
  }

  .delete-button {
    width: 1.8rem;
    height: auto;
    padding: 0px;
    border: none;
    background-color: transparent;
    }
    
    .delete-button:hover {
    opacity: 0.5;
    }

    .scroll-images-button {
      height: auto;
      max-height: 25rem;
      width: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0px;
      border: none;
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      background-color: rgb(214, 214, 214);
      font-size: x-large;
      color: gray;
    }

    .scroll-images-button:hover {
      opacity: 0.5;
    }

    .multi-media-div {
      display: flex;
    }

    .central-column {
      width: 60%;
      height: auto;
      display: flex;
      justify-content: center;
      background-color: #e4e9e9;
    }

    .side-column {
      width: 20%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .side-box {
      width: 90%;
      height: 30rem;
      border-radius: 25px;
      border: 2px solid#85989a;
      margin-top: 2%;
      overflow-y: scroll;
      padding-bottom: 2rem;
    }

    .side-box::-webkit-scrollbar {
      width: 0px;
      background-color: transparent;
    }








    .create-post-modal {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100vh;
      margin: 0px;
      padding: 0px;
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;
    }

    .create-post-container {
      width: 40%;
      height: 50%;
      background-color: white;
      border-radius: 40px;
      border: 2px solid gray;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .create-title {
      width: 100%;
      height: auto;
      text-align: center;
    }

    .create-textarea {
      margin: 2rem;
      width: 80%;
      height: 50%;
    }

    .button-container {
      width: 100%;
      height: auto;
    }


    #edit-form {
      display: flex;
      flex-direction: column;
      width: 20%;
    }


    .generic-button {
      width: 80%;
      height: 3rem;
      border-radius: 200px;
      color: white;
      border: none;
      background: linear-gradient(#a8b7b8, #ccd4d5);
      font-weight: bold;
      font-size: large;
      margin: 1rem;
    }

    .generic-button:hover {
      background: linear-gradient(#ccd4d5, #85989a);
    }

    .small-generic-button {
      width: 45%;
      height: 2rem;
      border-radius: 200px;
      color: white;
      border: none;
      background: linear-gradient(#a8b7b8, #ccd4d5);
      font-weight: bold;
      font-size: medium;
      margin: 0.25rem;
    }

    .small-generic-button:hover {
      background: linear-gradient(#ccd4d5, #85989a);
    }

    .side-radio-button {
      width: 50%;
      height: 2rem;
      margin: 0.25rem;
      border-radius: 200px;
      border: none;
      background: linear-gradient(#a8b7b8, #ccd4d5);
      color: white;
      display: flex;
      align-items: center;
    }

    .side-radio-button-label {
      font-size: larger;
      font-weight: 600;
    }

    .clickable-text {
      cursor: pointer;
      width: auto;
    }