@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A9A9A9;
    overflow: hidden;
}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
}

.page-half-A {
    width: 60%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.page-half-B {
    width: 50%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-container {
    width: 100%; 
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

#inner-container-B {
    display: none;
}

#inner-container-B1 {
    display: none;
}

.input-field {
    width: 100%;
    height: 2.5rem; 
    border: 3px solid gray;
    border-radius: 100px;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: x-large;
    font-family: 'Fredoka One', cursive;
}


.input-field-create {
    width: 100%;
    height: 2.5rem; 
    border: 3px solid gray;
    border-radius: 100px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: x-large;
    font-family: 'Fredoka One', cursive;
}

.button {
    width: 40%;
    height: 3.25rem;
    border: 3px solid white;
    background: linear-gradient(black, gray, white);
    border-radius: 100px;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
}

.button:hover {
    background: black;
    color: white;
}

.a-button {
    width: 75%;
    border: 3px solid white;
    background: linear-gradient(black, gray, white);
    border-radius: 100px;
    color: black; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-decoration: none;
    font-size: x-large;
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
    padding: 0.6rem;
    margin: 1rem;
}

.a-button:hover {
    background: linear-gradient(black, black, black);
    color: white;
}

.g-button {
    width: 75%;
    border: 3px solid gray;
    background: white;
    border-radius: 100px;
    color: gray; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-decoration: none;
    font-size: x-large;
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
    padding: 0.6rem;
    margin: 1rem;
}

.g-button:hover {
    background: black;
    color: white;
}

.field-container {
    width: 70%;  
    height: 65%; 
    border: 3px solid gray; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 3rem;
}

.terms-box {
    width: 90%; 
    max-height: 25rem; 
    border: 3px solid gray; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 3rem;
    overflow-y: scroll;
    position: relative;
    background-color: rgb(29, 29, 29);
}

.terms-box::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

p, h3, strong, li, label {
    color: white;
    font-family: 'Fredoka One', cursive;
}


.mobile {
    display: none;
}

.larger-screen {
    display: flex;
}

 .terms-box {
    max-height: 15rem; 
}
header {
    text-align: center;
    display: flex;
    justify-content:center;
    
}
